.contact .get-in-touch .form-section h5{
  font-weight:var(--light-weight);
  width:120%;
}
.contact .get-in-touch #hiring-section hr{
  width:100%;
}
.contact #hiring-section:hover hr{
  width:120%;
}
/*Mobile and Tablet*/
@media(max-width:1024px){
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;  /* vertical centering */
        align-items: center;      /* horizontal centering */
        min-height: 100vh;   
    }
    
    .contact .form-section{
        margin-block:0;
        padding-block:0;
    }
    .contact footer .contact-info{
        margin-bottom:1%;
    }
    .contact footer #Addaura-logo{
    margin-bottom:5%;
  }
}