.cv-container{
  display:flex;
  width:75%;
  margin-inline:auto;
  justify-content:space-between;
  margin-top:5%;
  margin-bottom:10%;
  gap:1.5rem; 
}
.cv-container h6{
  font-size: clamp(0.80rem, 0.85vw, 0.9rem); 
  font-weight:500;
  width:50%;
}
.cv-container .heading{
  max-width:80%;
  height:100%;
  flex: 0 0 65%;
}
.cv-container .heading h1{
  margin-left:0px;
  padding-left:0px;
}
#cv-form label{
  cursor:default;
}
#cv-form textarea{
  height:35%;
  width:100%;
}
#cv-form{
  font-weight:100;
  width:37%;
  height:100%;
  margin-block:auto;
  flex: 0 0 25%;
  margin-top:5%;
}
#cv-form input{ 
  height: 30px;
  font-size:0.30em;
  color:white;
}
#cv-form label{
  font-size: clamp(0.75rem, 0.75vw, 1rem);
  font-weight:var(--light-weight);
}
#cv-form #resume-label{
  display:none;
  margin:0;
  padding:0;
}
#cv-form #cv-label{
  margin-bottom:0%;
  padding-bottom:0%;
}
#cv-form input, #cv-form textarea, #cv-form #resume{
  margin-bottom:10px;
  padding:3%;
  border:1px solid black;
  background-color:black;
  font-size: clamp(0.875rem, 1vw, 1rem);
  margin-bottom:7%;
  color:white;
  font-family:'Poppins',sans-serif;
}
#cv-form #resume{
  display:inline-block;
  cursor:pointer;
  border-radius:0px;
  margin-top:0%;
}
#cv-form input::placeholder, #cv-form textarea::placeholder{
    color:white;
}
#cv-form input:focus, #cv-form textarea:focus, #cv-form input:not(:placeholder-shown) {
    width:100%;
    color:white;
    outline:none;
}
#cv-form input:focus::placeholder, #cv-form textarea:focus::placeholder{
    color:white;
}
#cv-form input:-webkit-autofill,
#cv-form input:-webkit-autofill:hover,
#cv-form input:-webkit-autofill:focus,
#cv-form textarea:-webkit-autofill,
#cv-form textarea:-webkit-autofill:hover,
#cv-form textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px black inset !important; /* Force black background */
  -webkit-text-fill-color: white !important; /* Force white text */
  background-color: black !important; /* Fallback */
  border: 1px solid black !important;
  transition: background-color 9999s ease-in-out 0s !important; /* Prevent flash */
}
/*Mobile Only*/
@media(max-width:768px){

  .heading{
    text-align: center;
    min-width:80% !important;
    margin-inline:auto;
  }
  .mobile-heading{
      display:block;    
      text-align: center;
    }
  .cv-container{
    flex-direction:column;
    width:90%;
    margin-top:20%;
  }
  #touch-heading{
    display:none;
  }
}