.services .top-section video{
  opacity:0.6;
}
.services .industry-expertise .section-content p{
  width:80%;
}
.services .industry-expertise .section-content a{
  text-decoration:none;
}
.services .hero-section .cta{
  margin-top:5%;
}